@import url(./styles/menu.css);
@import url(./styles/inicio.css);
@import url(./styles/sobre-mim.css);
@import url(./styles/projetos.css);
@import url(./styles/contato.css);
@import url(./styles/rodape.css);

:root {
    --cor-azul-escuro: #000524;
    --cor-azul-medio: #010937;
    --cor-azul: #020f59;
    --cor-azul-claro: #101f78;
    --cor-azul-light: #1c31a5;
    --cor-amarelo: #ffab03;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
