@import url(./reset.css);
@import url(./styles/container__navegacao.css);
@import url(./styles/container__primario.css);
@import url(./styles/container__sobre-mim.css);
@import url(./styles/container__projetos.css);
@import url(./styles/container__contato.css);
@import url(./styles/container__rodape.css);

:root {
    --cor-roxo-escuro: #2b2b3f;
    --cor-roxo-claro: #535379;
    --cor-branco: #FFFFFF;
    --cor-laranja: #e48927;
}

@font-face {
    font-family: "Maxellight";
    src: url(./maxellight-font/Maxellight-owvKo.ttf);
}

@font-face {
    font-family: "Typewriter";
    src: url(./fontes/hand_typewriter.zip);
}