.container__contato {
    padding: 25px;
}

.contato__titulo {
    color: #ae0404;
    font-weight: 700;
    margin: 0.5em 0;
    margin-bottom: 1em;
    font-size: 25px;
}

.contato__lista {
    display: flex;
    justify-content: space-around;
}

.contato__imagem {
    max-width: 40px;
}

.curriculo__download {
    margin: auto;
    color: white;
    font-weight: 700;
    background-color: #5c091b;
    padding: 0.8em 1em;
}

.contato__grid {
    display: grid;
    grid-template-columns: 60% 40%;
}