.container__projetos {
    padding: 25px;
}

.projetos__titulo {
    color: black;
    font-weight: 400;
    margin: 0.5em 0;
    font-size: 25px;
} 

.projetos-descricao {
    text-align: justify;
    font-size: 12px;
    line-height: 16px;
}

.projetos__item {
    background-color: #5c091b;
    color: white;
    padding: 1em;
    margin-top: 1em;
    border-radius: 5px;
}

.item__titulo {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.4em;
    color: #fc9292;
}

.item__descricao {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
}

a {
    text-transform: none;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .container__projetos {
        padding: 100px 200px 0px 200px;
    }

    .projetos-descricao {
        font-size: 14px;
    }
}