.container__contato {
    padding-bottom: 1.5em;
    background-color: var(--cor-roxo-escuro);
}

.contato__titulo {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1em 0;
}

.contato__lista {
    display: flex;
    justify-content: center;
}

.contato__lista a {
    text-decoration: none;
}

.contato__item {
    width: 100px;
    height: 100px;
    background-color: var(--cor-branco);
    margin: 0em 2em;
    border-radius: 90px;
    background-color: rgba(255, 255, 255, 0.911);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contato__imagem {
    max-width: 40px;
    margin-bottom: 0.5em;
}

.imagem__titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 0.5em;
    font-weight: 700;
    color: var(--cor-roxo-claro);
}

@media screen and (max-width: 767px) {

    .contato__item {
        width: 60px;
        height: 60px;
        margin: 0em 1em;
    }

    .contato__imagem {
        max-width: 20px;
    }

    .imagem__titulo {
        font-size: 08px;
    }

    .contato__titulo {
        font-size: 18px;
    }
}