.container__navegacao {
    height: 10vh;
    background-color: var(--cor-branco);
}

.navegacao__lista {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.navegacao__lista-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin: 1.5em;
    color: var(--cor-roxo-escuro);
    border-bottom: 1px solid var(--cor-roxo-escuro);
    padding-bottom: 0.4em;
}

.navegacao__lista-link:hover {
    border-bottom: 2px solid var(--cor-roxo-escuro);
}

.item__contato {
    background-color: var(--cor-roxo-claro);
    color: var(--cor-branco);
    padding: 0.4em 1em;
    border-radius: 2px;
}

.item__contato:hover {
    background-color: var(--cor-roxo-escuro)
}

@media screen and (max-width: 767px) {

    .container__navegacao {
        height: 8vh;
        background-color: var(--cor-branco);
    }
    
    .navegacao__lista {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .navegacao__lista-link {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 13px;
        margin: 1em;
        color: var(--cor-roxo-escuro);
        border-bottom: 1px solid var(--cor-roxo-escuro);
        padding-bottom: 0.4em;
    }
    
    .navegacao__lista-link:hover {
        border-bottom: 2px solid var(--cor-roxo-escuro);
    }
    
    .item__contato {
        background-color: var(--cor-roxo-claro);
        color: var(--cor-branco);
        padding: 0.4em 1em;
        border-radius: 2px;
    }
    
    .item__contato:hover {
        background-color: var(--cor-roxo-escuro)
    }

}