.container__primario {
    height: 100vh;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed;
}

.primario__descricao {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.primario__descricao-titulo {
    font-size: 30px;
    color: var(--cor-branco);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 1.5s steps(15) infinite alternate,
    blink 800ms steps(13) infinite normal;
    border-right: 5px solid var(--cor-branco);
}

@keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 260px;
    }
}

 @keyframes blink {
    from {
      border-color: var(--cor-branco);
    }
    to {
      border-color: transparent;
    }
}

.primario__descricao-nome {
    font-size: 80px;
    font-family: "Maxellight";
    color: var(--cor-branco);
    margin: 0.2em 0 0.1em 0;
    border-bottom: solid 1px var(--cor-branco);
    padding-bottom: 0.1em;
    text-shadow: black 20px 20px 20px ;
}

.primario__descricao-descricao {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: var(--cor-branco);
    text-shadow: black 5px 5px 6px;
}

@media screen and (max-width: 767px) {

  .container__primario {
    height: 40vh;
    background-image: url(../img/fundo-celular.png);
    background-repeat: no-repeat;
    background-size: 125%;
    background-position: center top;    
}

.primario__descricao {
  height: 30vh;
}

.primario__descricao-titulo {
  font-size: 30px;
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 260px;
  }
}

.primario__descricao-nome {
  font-size: 40px;
}

.primario__descricao-descricao {
  font-size: 20px;
}

}