.container__contato {
    background-color: var(--cor-azul-claro);
    padding: 3em 2em;
    border-radius: 35px 35px 0 0;
}

.container__contato-titulo {
    color: var(--cor-amarela);
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
}

.container__contato-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container__contato-lista-link {
    display: flex;
    align-items: center;
    margin: 2em 0;
    text-decoration: none;
}

.container__contato-lista-logo {
    width: 40px;
    margin-right: 1em;
}

.container__contato-lista-titulo {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.container__contato-curriculo {
    color: var(--cor-azul-claro);
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 1em 0;
    display: inline-block;
    padding: 0.4em 0.6em;
    text-decoration: none;
    border-radius: 35px;
}

.container__contato-curriculo::before {
    content: '\2913';
}