.container__rodape {
    text-align: center;
    padding: 0.5em 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: var(--cor-roxo-claro);
}

@media screen and (max-width: 767px) {
    .container__rodape {
        font-size: 12px;
    }
}