.container__inicio {
    padding-top: 57.33px;
    height: calc(100vh - 57.33px);
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(28,49,165);
    background: linear-gradient(0deg, rgb(12, 21, 72) 0%, rgba(0,5,36,1) 100%);
    color: white;
}

.container__inicio-titulo {
    font-size: 40px;
    font-weight: 700;
}

.container__inicio-descricao {
    font-size: 20px;
    font-weight: 200;
    margin: 0.4em;
}

.container__inicio-descricao::before{
    content: '</';
}

.container__inicio-descricao::after {
    content: '>';
}


.container__inicio-redes {
    display: flex;
}

.container__rede-link{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.8em 1em;
    margin: 1em;
    border: solid 2px;
    border-image: linear-gradient(45deg,#1c31a5,#2deafd) 10;
    font-size: 17px;
}

.container__rede-imagem {
    width: 30px;
    margin-right: 0.5em;
}
