.container__projetos {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
}

.container__projetos-lista {
}

.container__projetos-titulo {
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.container__projetos-lista-link {
    text-decoration: none;
    color: white;
}

.container__projetos-lista-item {
    border-radius: 5px;
    height: 100px;
    margin: 2em 0;
    background-color: var(--cor-azul-claro);
    padding: 1em;
}

.container__projetos-lista-item-titulo {
    font-size: 18px;
    margin-bottom: 0.5em;
    color: var(--cor-amarela);
    font-weight: 800;
}

.container__projetos-lista-item-descricao {
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
}