.container__sobre-mim {
    background-color: var(--cor-azul-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    border-radius: 35px;
}

.container__sobre-mim-imagem {
    width: 200px;
    border-radius: 50%;
}

.container__sobre-mim-titulo {
    color: white;
    font-size: 20px;
    font-weight: 100;
    margin: 1em 0;
}

b {
    font-weight: 800;
    color: var(--cor-amarela);
}

.container__sobre-mim-descricao {
    color: white;
    text-align: justify;
    line-height: 15px;
}